<%= form_with(model: provider_detail) do |form| %>
  <div>
    <%= form.text_field :npi, :label => "NPI"%>
  </div>
<div>  

</div>

    <%= form.submit("Submit NPI", class: "submit_button")  %>


<% end %>
