<h1>Editing provider detail</h1>

<%= render "form", provider_detail: @provider_detail %>

<br>

<div>
  <%= link_to "Show this provider detail", @provider_detail %> |
  <%= link_to "Back to provider details", provider_details_path %>
</div>
