<p style="color: green"><%= notice %></p>

<h1>Provider Details</h1>

<%= render "form", provider_detail: @provider_detail %>

<br>

<div>
  <%= link_to "Back to provider details", provider_details_path %>
</div>
